Requirements:
1. "pacman"
2. "dplyr"
3. "magrittr"
4. "lexicon"
5. "fitdistrplus"
6. "AnomalyDetection"
7. "aplpack"
8. "tidyverse"
9. "anomalize"
10. "xlsx"
11. "reticulate"
12. "fBasics"
13. "keras"
14. "tsoutliers"
15. "rstudioapi"
16. "parsedate"    